Body{
    background-color: #3498DB;
}

.Registro{
  background-color: rgba(56, 104, 119, 0.295);
  display: flex;
  justify-content: center;
  margin-left: 400px;
  height: 700px;
}
.Calendar{
  background-color: rgb(23, 65, 104);
  height: 800px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
}
